/* .main {
  position:relative;
  display: flex;
    justify-content: center;
    align-items: center;
    
  overflow:hidden;
} */

* {
  padding: 0;
  box-sizing: border-box;
}

canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1; */
}

.glass {
  /* position: absolute;
  color: #0f0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* pointer-events: none; */
  width: 100vw;
  height: 100vh;
  /* box-sizing: border-box; */
  background-color: rgba(255, 255, 255, 0.05);
  /* box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2); */
  backdrop-filter: blur(1px);
  border: solid 1px rgba(255, 255, 255, 0.2);
  /* border-radius: 5px; */
  /* transition: 0.2s; */
}

.glass h2 {
  text-align: center;
  color: white;
  pointer-events: none;
  /* font-size: 0.8em; */
  /* text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); */
}

main {
  /* background-color: rgba(0, 0, 0, 1);
  margin: 0; */
  height: auto;
  margin: auto;
  color: #0f0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Orbitron", sans-serif;
  display: block;
  margin-top: 4vh;
  /* width: 100%;
  height: 100%; */
}

/* main h1 {
  margin-bottom: 10px;
} */
/* .main {
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
} */

.title {
  font-family: "Raleway", sans-serif;
  font-size: 2.8em;
  margin-bottom: 0.7em;
  width: 100%;
  justify-content: center;
  color: white;
  line-height: 0.9em;
  /* margin-bottom: 0.5em; */
  text-shadow: 1.5px 1px 0px #0f0;

  /* filter: drop-shadow(-1px -1px 0px #fe2d52); */
}

.title ul {
  margin: 1.5em 0em;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 0.2em;
  list-style: none;
}

.title ul li {
  display: inline-block;
  list-style: none;
}

.title ul li:nth-child(1) {
  filter: drop-shadow(-1px -1px 0px #28ffff);
}

.title ul li:nth-child(2) {
  font-family: "Uncial Antiqua", cursive;
  filter: drop-shadow(-1px -1px 0px #fe2d52);
}
.buttons {
  text-align: center;
  padding: 10px;
  margin: auto;
  /* opacity: 1; */
}

.btn {
  /* position: relative; */
  border: solid;
  /* border-bottom-style: groove; */
  /* display: inline-block; */
  padding: 10px;
  color: #fff;
  letter-spacing: 4px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  overflow: hidden;
  margin: 0.2em;
  /* transition: 0.2s; */
}
.btn:hover {
  /* color: orange; */
  background: #0f0;
  box-shadow: 0 0 10px #0f0;
  transition-delay: 0.2s;
}

/* .btn {
  border: solid;
  border-bottom-style: groove;
  color: white;
  background-color: #4e4e4e;
  font-family: "Lato", sans-serif;
  padding: 10px;
  border-radius: 1.25em;
  transition-duration: 0.08s;
  margin-left: 1px;
  margin-right: 1px;
}

.btn:active {
  background-color: #4e4e4e;
  transform: translateY(4px);
} */

.btn:active {
  /* background-color: #4e4e4e; */
  transform: translateY(4px);
}

.text-input {
  border-radius: 1em;
  border: 0px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 0.5em;
  width: 100%;
  height: 50px;
  outline-color: #747474;
}

main #sub-msg {
  color: white;
}
#sub-msg {
  display: flex;
  /* margin-bottom: 5px;
  margin-left: 3px; */
  margin: 0px 4px 0px 4px;
  padding: 0px 4px 6px 4px;
  font-size: 0.6em;
  text-align: justify;
  opacity: 0.5;

  text-shadow: 2px 2px 3px white;
}

#first-msg,
#second-msg {
  font-size: 1em;
}

#second-msg {
  margin-bottom: 1em;
}

footer {
  /* text-align: center; */
  padding: 15px;
  margin: 0px 10px;
  /* margin-bottom: 8vh; */
  font-size: 0.6em;
  font-weight: bold;

  /* margin-top: 8vh;
  margin-bottom: 10px; */
  /* width: 100%; */
  color: white;
  opacity: 0.5;
}

footer p {
  margin: 6px 4px;
  padding: 6px 4px;
}

@media screen and (min-width: 1080px) {
  main {
    width: 50%;
  }
  .box {
    padding: 5px 15px;
    margin: 0px 10px;
    /* background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0.5px 0.5px 10px 0px darkgreen;
    border-radius: 2em;
    width: 50%;
    height: auto;
    color: lightgray; */
    /* height: 100%; */
    /* width: 50%; */
  }
}

@media screen and (max-width: 1080px) {
  main {
    width: 80%;
  }
  .box {
    padding: 5px 15px;
    margin: 0px 10px;
    /* background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0.5px 0.5px 10px 0px darkgreen;
    border-radius: 2em;
    width: 80%;
    height: auto;
    color: lightgray; */
    /* width: 80%; */
  }
  /* .title {
    justify-content: left;
  } */
  .title ul {
    justify-content: left;
    padding: 5px 15px;
    margin: 1.5em 10px;
  }
}
